body{
	padding-top : 40px;

	#loading  {
		margin-top: 70px;
		height: 20px;
	}

	#docMessage { 
		position: absolute;
		z-index : 3000;
		margin-left: 10%;
		width: 76%;
		padding-left: 2%;
		padding-right: 2%;
		margin-left: 12%;
		margin-right: 12%;
		top: 50px;
	}

	.level1Nav{
		margin-top: 30px;
		.input-append{
			margin-top : 5px;
		}
	}

	.admin {
		margin-top : 20px;
	}

	.speakers{
		li:nth-child(5){
			margin-left: 0px !important;
		}
		.thumbnail{
			img{
				width: 100%;
			}
		}
	}

	.btn-toolbar{
		.btnLikeUnlike, .btnStar{
			margin-right: 5px;
		}
	}

	.btnConnection{
		margin-right: 10px;
	}

	.popover{
		button.close{
			margin-right : 5px;
			margin-top: 5px;
		}
	}

	#notesModal {
		textarea{
			width: 94%;
			margin-left: 2%;
			margin-right: 2%;
			height: 100px;
		}
	}

}