<div class = "admin">
	<form class = "form-horizontal">

		<script type = "text/html">
			<% _.each(fields, function(name) { %>
				<div class="control-group">
					<label class="control-label" for="session_<%= name%>"><%= name%></label>
					<div class="controls">
						<input type="text" id="session_<%= name%>" value = "value-<%=name%>"></div>
				</div>
			<% }); %></script>
		<div class = "content"></div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn">Submit</button>
			</div>
		</div>
	</form>
</div>
<script type="text/javascript">
	new app.View.Admin({
		el : ".admin"
	});
</script>