<div class = "sessions">
	<div class = "page-header">
		<h1>
			Sessions
			<small class = "hide viewall">
				<a href = "#home/sessions">(view all)</a>
			</small>
		</h1>
	</div>
	<script type = "text/html">
		<li class = "well" id = "item-<%=s.id%>">
			<h3>
				<%= s.name %></h3>
			<h5>
				by <a title = "Speaker" href = "#home/speakers/<%= encodeURIComponent(s.speaker.pic) %>"><%= s.speaker.name %></a>
			</h5>
			<p>
				<%= s.description %></p>
			<p>
			<p class = "muted"> <i class= "icon-map-marker"></i>&nbsp;&nbsp;<%= s.room%></p>
			<div class=  "pull-right">
			<div class="btn-toolbar">
				<div class="btn-group btnLikeUnlike">
					<a class="btn btnLike btn-small" title = "Liked this session" data-sessionid="<%=s.id%>">
						<i class="icon-thumbs-up"></i>
					</a>
					<a class="btn btnUnlike btn-small" title = "Did not like this session" data-sessionid="<%=s.id%>" >
						<i class="icon-thumbs-down"></i>
					</a>
				</div>
				&nbsp;&nbsp;&nbsp;
				<a class="btn btnStar btn-small" title = "Planning to attend the session"  data-sessionid="<%=s.id%>">
					<i class="icon-star"></i>
				</a>
				<a class="btn btnComment btn-small" title = "View comments for session"  data-sessionid="<%=s.id%>">
					<i class="icon icon-edit"></i>  Notes
				</a>
			</div>
			</div>
			<div class = "clearfix"></div>
		</li>
		</script>
	<ul class = "sessionContent"></ul>
</div>
<script type = "text/javascript">
	app.currentViews.push(new app.View.Sessions({
		el : ".sessions",
		collection : app.sessionList,
		dataFunc: app.sessionList.getSessions,
	}));
	app.currentViews.push(new app.View.UserPrefs({
		el : ".sessions",
		model: app.user,
		dataFunc: app.sessionList.getSessions,
	}));
</script>