<div class = "speakers">
	<div class = "page-header">
		<h1>Speakers <small class = "hide viewall"><a href = "#home/speakers">(view all)</a></small></h1>
	</div>
	<div class = "divider"></div>
	<script type = "text/html">
		<li class = "span3" id = "item-<%=s.id%>">
			<div class = "thumbnail">
				<img src = "<%= s.pic %>"/>
				<h3>
					<%= s.name %></h3>
				<p>
					<a href = "#home/sessions/<%= s.id%>"><%= s.sessionName %></a>
				</p>
			</div>
		</li>
		</script>
	<ul class = "thumbnails sessionContent"></ul>
</div>
<script type = "text/javascript">
	app.currentViews.push(new app.View.Sessions({
		el : ".speakers",
		collection : app.sessionList,
		dataFunc: app.sessionList.getSpeakers
	}));
</script>