<!DOCTYPE HTML>
<html>
<head>
	<title>Conference</title>
	<link rel="stylesheet" type="text/css" href="./lib/bootstrap/css/bootstrap.min.css">
	<!--link rel="stylesheet" type="text/css" href="./lib/bootstrap/css/bootstrap-theme.min.css"-->
	<link rel="stylesheet" type="text/css" href="./lib/bootstrap/css/bootstrap-responsive.min.css">
	<link rel="stylesheet" type="text/css" href="main.css"></head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="#home/schedule">Conference</a>
				<div class="nav-collapse collapse" style="height: 0px;">
					<ul class="nav level1Nav">
						<li>
							<a href="#home/schedule">Home</a>
						</li>
						<li>
							<a href="#admin">Admin</a>
						</li>
						<li>
							<a href="#about">About</a>
						</li>
					</ul>
					<ul class="nav pull-right">
						<li class = "userId">
							<script type = "text/html">
								<span href = "#" tite = "Click here to change your user name"> <i class ="icon-user icon-white"></i>
									<%= userName %></span>
							</script>
							<a class = "userName"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid level0Content">
		<link rel = "defaultContent" href = "#home"/>
	</div>

	<script type = "text/html" class = "userPrefsToolbar">
		<div class="btn-toolbar">
			<div class="btnLikeUnlike btn-group" data-toggle="buttons-radio">
				<button class="btn btnLike btn-small" title = "Liked this session" data-sessionid="<%=s.id%>">
					<i class="icon-thumbs-up"></i>
				</button>
				<button class="btn btnUnlike btn-small" title = "Did not like this session" data-sessionid="<%=s.id%>" >
					<i class="icon-thumbs-down"></i>
				</button>
			</div>
			<span class = "<%if (s.speaker && !s.speaker.name) { %> hide <% }%>">
				<button class="btn btnStar btn-small" data-toggle="button" title = "Planning to attend the session"  data-sessionid="<%=s.id%>">
					<i class="icon-star"></i>
				</button>
				<button class="btn btnComment btn-small" title = "View comments for session"  data-sessionid="<%=s.id%>">
					<i class="icon icon-edit"></i>  Notes
				</button>
			</span>
		</div>
	</script>

	<script type="text/javascript" src="./lib/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="./lib/underscore-min.js"></script>
	<script type="text/javascript" src="./lib/moment.js"></script>
	<script type="text/javascript" src="./lib/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="./lib/backbone-min.js"></script>
	<script type="text/javascript" src="./lib/pouch.alpha.js"></script>
	<script type="text/javascript" src="./main.js"></script>
</body>
</html>